.cantainer {
  padding: 20px 0;
  margin: 0 calc((100% - 404px * 3 - 31px * 2) / 2);

  @media (max-width: 1439px) {
    margin: 0 calc((100% - 404px * 2 - 31px) / 2);
  }
  @media (max-width: 1023px) {
    margin: 0 calc((100% - 370px * 2 - 10px) / 2);
  }
  @media (max-width: 767px) {
    margin: 0 calc((100% - 404px) / 2);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 404px);
    gap: 26px 31px;
    margin: 0 auto;

    @media (max-width: 1439px) {
      grid-template-columns: repeat(2, 404px);
    }
    @media (max-width: 1023px) {
      grid-template-columns: repeat(2, minmax(370px, 1fr));
      gap: 16px 10px;
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 404px);
      gap: 16px;
    }
  }
}
