.select {
  width: 276px;
  height: 56px;
  background: #35373a 0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.16px;
  color: #ffffffde;
  padding: 0 14px;
  margin-bottom: 20px;
}
